body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a23b9a7e;
}

header {
    background-color: #e75ae4;
    color: rgb(155, 13, 122);
    padding: 10px;
    text-align: center;
}
.pinakass{
    text-align: center;
    border-collapse: collapse;
    background-color: #a23b9a7e;
    border-color: #80104f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: rgb(134, 19, 115);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #935151;
    background-color: #d44d95;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #d343b4;
}

form input[type="submit"] {
    background-color: #e75ae4;
    color: rgb(167, 38, 181);
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #e75ae4;
}

.photoss {
    width: 300px;            
    height: 250px;         
    border: 5px solid #eb66e0; 
    background: #8b3272;       
    margin: auto;           
    padding: 10px;        }
    .photoss img {
        width: 100%;   
        height: auto;    
    }  
.videoo{
    width: 300px;
    height: 600px;
}
h2, h3{
    color: #a52264; 
}
h4{
    color: #80104f;
}
hr{
    border: 0; 
    height: 2px; 
    background-color: #a52264; 
} 
.gender {
    display: ;
    
    
    
}
