@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a23b9a7e;
}

header {
    background-color: #e75ae4;
    color: rgb(155, 13, 122);
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
}

.pinakass {
    text-align: center;
    border-collapse: collapse;
    background-color: #a23b9a7e;
    border-color: #80104f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    color: rgb(134, 19, 115);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}


.photoss {
    width: 300px;
    height: 250px;
    border: 5px solid #eb66e0;
    background: #8b3272;
    margin: auto;
    padding: 10px;
}

.photoss img {
    width: 100%;
    height: auto;
}

.videoo {
    width: 300px;
    height: 600px;
}

h2,
h3 {
    color: #a52264;
}

h4 {
    color: #80104f;
}

hr {
    border: 0;
    height: 2px;
    background-color: #a52264;
}

/*---Contact---*/

.bodyy {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;

}
.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #d44d95;
    border: 1px solid #935151;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-size: 1.5rem;
    color: rgb(155, 13, 122);;
    font-weight: 500;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}
.form :where(.input-box input, .message-box textarea, .age-box imput) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .age-box, .message-box, .gender-box{
    margin-top: 20px;
}

.age-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: #642ca9;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #333;
}

.form button {
    height: 55px;
    width: 100%;
    color: rgb(155, 13, 122);
    background-color: #e75ae4;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #fff;
}

.form button:hover {
    background: #fff;
}
/*---EndContact*/